<!--
  @description       : This component is used to mask the input value
  @author            : Hitesh Garg
  @last modified on  : 11-08-2020
  @last modified by  : Hitesh Garg
  Modifications Log 
  Ver   Date         Author        Modification
  1.0   11-08-2020   Hitesh Garg   Initial Version
-->
<template>
  <lightning-card title="Mask Input">
    <div class="slds-p-around_medium">
      <lightning-input variant="" label="Credit Card" maxlength=16 minlength=16 data-field="cardNumber"
        onchange={handleChange} name="cardNumber" onblur={handleCardNumber} onfocus={showData}>
      </lightning-input>
    </div>
  </lightning-card>
</template>